.playlistCard {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: relative;
}

.playlistCard > img {
  width: 100%;
  height: 20rem;
}

.deletePlaylistBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 20vw;
  height: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 8px;
  margin-top: 3rem;
}

.createPlaylist {
  width: 100%;
  margin-top: 4rem;
  padding: 0.5rem;
  background-color: #509ecf;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.modal > h3 {
  margin: 1rem 0 0.5rem 0;
}

.modal > input {
  padding: 4px;
  width: 96%;
}
