.videosPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.videosSection {
  /* padding: 0 0.5rem; */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  justify-content: space-between;
}
